@charset "IBM437";
/**
 * 	style.scss
 *
 *	Simple CSS framework
 * 	Author: Mithicher Baro @mithicher
 *
 * 	This framework is inspired by Jonathan Path's framework.
 *  https://github.com/jonathanpath/SASS-SMACSS
 *  
 */
/* Compass */
/* Utilities */
/**
 *  _settings.scss
 */
/* $line-height-base ÷ $fontbase */
/**
 * 	_mixins.scss
 */
/* Original is in LESS and can be found here: https://gist.github.com/gefangenimnetz/3ef3e18364edf105c5af */
/**
 * 	_functions.scss
 */
/**
 *  _helpers.scss
 */
.alignleft {
  display: inline;
  float: left; }

.alignright {
  display: inline;
  float: right; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.left {
  float: left; }

.right {
  float: right; }

.padding-tb-l {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem; }

.padding-tb {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.margin-b {
  margin-bottom: 1.5rem; }

.margin-b-s {
  margin-bottom: 0.75rem; }

.margin-r-s {
  margin-right: 0.75rem; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-uppercase {
  text-transform: uppercase; }

.text-italic {
  font-style: italic; }

.text-light {
  color: #bdbdbd; }

.text-white {
  color: #fff; }

.inline {
  display: inline; }

.inline__block {
  display: inline-block; }

.inline__block--center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.radius {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }

.radius-t-rl {
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -ms-border-radius: 2px 2px 0 0;
  -o-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0; }

.bg__blue {
  background-color: #5d9cec;
  color: #fff; }

.bg__green {
  background-color: #00c176; }

.bg__green--light {
  background-color: #88c100; }

.bg__white {
  background-color: white; }

.bg__orange {
  background-color: #fabe28; }

.shadowDepth0 {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12); }

.shadowDepth1 {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.shadowDepth2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

/* Base */
/* normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
 *  _base.scss
 */
html {
  font-size: 100%; }

html,
body {
  height: 100%; }

body {
  font-family: "Istok Web", sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  color: #727272;
  background-color: #eeeeee; }

audio,
canvas,
img,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

a {
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
  color: #00c176;
  text-decoration: none; }
  a:hover, a:focus, a:active {
    color: #006f44; }
  a:focus {
    outline: none; }

/* Layout */
/**
 *  _nav.scss
 */
.site__container {
  position: relative;
  overflow: hidden;
  width: 100%; }

.site__pusher {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

/* For Fixed Navigation */
.navbar--fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 98;
  background-color: #00c176;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

/* For Absolute navigation */
.navbar--absolute {
  content: "";
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
  width: 100%;
  background-color: transparent; }

/* Navbar Logo */
.navbar__logo {
  font-size: 1.2rem;
  font-family: "Roboto", "Open Sans", "Cambria", serif;
  font-weight: 700;
  color: white !important;
  margin-right: 0;
  display: inline-block;
  cursor: pointer;
  line-height: 56px; }
  .navbar__logo:hover {
    color: white !important; }
  @media screen and (min-width: 64.063em) {
    .navbar__logo {
      position: relative;
      float: left;
      margin-right: 1em;
      line-height: 64px; } }

/* Navbar Styling */
.navbar {
  *zoom: 1;
  width: 100%;
  display: block;
  height: 56px;
  line-height: 56px;
  color: #fff;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
  .navbar:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 64.063em) {
    .navbar {
      height: 64px;
      line-height: 64px; } }
  .navbar ul {
    margin: 0;
    padding: 0; }
    @media screen and (min-width: 64.063em) {
      .navbar ul {
        margin-right: -16px; } }
    .navbar ul li {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: block;
      text-indent: 0; }
      @media screen and (min-width: 64.063em) {
        .navbar ul li {
          display: inline-block;
          padding-right: 16px; }
          .navbar ul li.active a {
            color: #157a6e; } }

/* Navbar Width */
.navbar__container {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  overflow: hidden; }
  @media screen and (min-width: 64.063em) {
    .navbar__container {
      max-width: 62.5em;
      margin-left: auto;
      margin-right: auto; } }

/* reveal menu for mobile when clicked */
.navbar--active {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform: translateX(260px);
  -moz-transform: translateX(260px);
  -ms-transform: translateX(260px);
  transform: translateX(260px); }

/* Menu Stylings */
.menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 260px;
  height: 100%;
  overflow-y: scroll;
  -webkit-transform: translateX(-260px);
  -moz-transform: translateX(-260px);
  -ms-transform: translateX(-260px);
  transform: translateX(-260px);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  transition-duration: 300ms;
  background-color: #333333; }
  @media screen and (min-width: 64.063em) {
    .menu {
      position: relative;
      display: inline;
      width: auto;
      background-color: transparent;
      overflow: auto; }
      .menu .menu-pull-right {
        margin-top: -1px;
        float: right; }
      .menu .menu-pull-left {
        margin-top: -1px;
        float: left; } }
  .menu a {
    position: relative;
    width: 100%;
    display: block;
    text-decoration: none;
    font-family: "Istok Web", sans-serif;
    font-size: 1rem;
    outline: none;
    text-indent: 1.8rem;
    border-bottom: 1px solid #4d4d4d;
    color: #fff;
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    opacity: 1;
    -webkit-transition-delay: 500ms;
    transition-delay: 500ms; }
    @media screen and (min-width: 64.063em) {
      .menu a {
        display: inline-block;
        padding: 0;
        box-sizing: border-box;
        text-indent: 0;
        border-bottom: 0; }
        .menu a:after {
          position: absolute;
          top: 70%;
          left: 50%;
          color: white;
          content: '';
          width: 0px;
          height: 2px;
          background-color: #fff;
          -webkit-transition: width 0.4s ease;
          -moz-transition: width 0.4s ease;
          -ms-transition: width 0.4s ease;
          -o-transition: width 0.4s ease;
          transition: width 0.4s ease;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          transform: translateX(-50%);
          pointer-events: none; }
        .menu a:hover, .menu a:focus {
          color: white; }
          .menu a:hover:after, .menu a:focus:after {
            width: 100%; } }

/* Add an overlay to the content when offcanvas navigation menu is revealed */
.navbar--active .site__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  z-index: 101; }

/* Navbar Toggle Icon/ hamburger icon */
.navbar__toggle-icon {
  position: relative;
  display: block;
  float: left;
  width: 46px;
  height: 56px;
  cursor: pointer;
  outline: none;
  margin-right: 1%; }
  @media screen and (min-width: 64.063em) {
    .navbar__toggle-icon {
      display: none; } }

.navbar__toggle-icon:after {
  content: '';
  position: absolute;
  display: block;
  width: 1.6rem;
  height: 0;
  top: 12px;
  left: 0;
  -webkit-box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
  -moz-box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
  box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white; }

/* OffCanvas Navigation Styles Ends */
/* Modules */
/**
 *  _blockquote.scss
 */
blockquote {
  position: relative;
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-size: 2.0rem;
  color: #00c176;
  background-color: transparent;
  outline: none; }
  blockquote:before {
    content: "\e67f";
    position: relative;
    font-family: 'themify';
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 1%;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: #00c176;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }

/**
 *  _button.scss
 */
.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  margin: 0;
  margin-bottom: 1.5;
  outline: none;
  padding: 0.75rem 1.5rem;
  border: 1px solid #777;
  box-sizing: border-box;
  font-family: "Istok Web", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  color: #555;
  cursor: pointer; }
  .btn:hover,
  button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover {
    border-color: #444; }
  .btn:focus,
  button:focus,
  input[type="submit"]:focus,
  input[type="reset"]:focus,
  input[type="button"]:focus {
    outline: none; }

.btn__success {
  background-color: #00c176;
  border-color: #00c176;
  color: white; }
  .btn__success:hover {
    background-color: #00985d;
    color: white;
    border-color: #00985d; }
  .btn__success:active {
    background-color: #008451;
    color: white;
    border-color: #008451; }

.btn__alert {
  background-color: #ff8a00;
  border-color: #ff8a00;
  color: white; }
  .btn__alert:hover {
    background-color: #d67400;
    color: white;
    border-color: #d67400; }
  .btn__alert:active {
    background-color: #c26900;
    color: white;
    border-color: #c26900; }

.btn__info {
  background-color: #5d9cec;
  border-color: #5d9cec;
  color: white; }
  .btn__info:hover {
    background-color: #3886e8;
    color: white;
    border-color: #3886e8; }
  .btn__info:active {
    background-color: #267be6;
    color: white;
    border-color: #267be6; }

.btn__success--outline {
  border-color: #00c176;
  color: #00c176;
  background: transparent; }
  .btn__success--outline:hover {
    background-color: #00c176;
    color: white;
    border-color: #00c176; }
  .btn__success--outline:active {
    background-color: #008451;
    color: white;
    border-color: #008451; }

.btn__alert--outline {
  border-color: #ff8a00;
  color: #ff8a00;
  background: transparent; }
  .btn__alert--outline:hover {
    background-color: #ff8a00;
    color: white;
    border-color: #ff8a00; }
  .btn__alert--outline:active {
    background-color: #c26900;
    color: white;
    border-color: #c26900; }

.btn__info--outline {
  border-color: #5d9cec;
  color: #5d9cec;
  background: transparent; }
  .btn__info--outline:hover {
    background-color: #5d9cec;
    color: white;
    border-color: #5d9cec; }
  .btn__info--outline:active {
    background-color: #267be6;
    color: white;
    border-color: #267be6; }

.btn__white--outline {
  border-color: white;
  color: white;
  background: transparent; }
  .btn__white--outline:hover {
    background-color: white;
    color: #5d9cec;
    border-color: white; }
  .btn__white--outline:active {
    background-color: #e0e0e0;
    color: #5d9cec;
    border-color: #e0e0e0; }

.btn__success-3d {
  border-color: #00c176;
  background-color: #00c176;
  color: white;
  -webkit-box-shadow: 0 3px 0 #00985d;
  -moz-box-shadow: 0 3px 0 #00985d;
  box-shadow: 0 3px 0 #00985d;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none; }
  .btn__success-3d:hover {
    color: white;
    border-color: #00a866;
    background-color: #00a866;
    -webkit-box-shadow: 0 3px 0 #008451;
    -moz-box-shadow: 0 3px 0 #008451;
    box-shadow: 0 3px 0 #008451; }
  .btn__success-3d:active {
    position: relative;
    color: white;
    border-color: #00a866;
    -webkit-box-shadow: 0 1px 0 #008451;
    -moz-box-shadow: 0 1px 0 #008451;
    box-shadow: 0 1px 0 #008451;
    top: 2px; }

.btn--small {
  font-size: 12px;
  font-size: 0.75rem; }

.btn--medium {
  font-size: 14px;
  font-size: 0.875rem; }

.btn--large {
  font-size: 20px;
  font-size: 1.25rem; }

.btn__transparent {
  background-color: transparent;
  border: 0;
  color: #00c176; }
  .btn__transparent:hover, .btn__transparent:focus {
    color: #00c176;
    background-color: transparent; }

.btn--full {
  width: 100%; }

.btn--pill {
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  border-radius: 1000px; }

/**
 *  _card.scss
 */
.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.card__image {
  position: relative;
  margin-bottom: 0; }
  .card__image > a,
  .card__image > img {
    display: block;
    margin: 0;
    padding: 0; }
  .card__image > img {
    width: 100%; }

.card__image-left {
  float: none;
  display: block;
  margin: 0; }
  .card__image-left > img {
    margin-bottom: 0;
    width: 100%;
    height: 150px; }

.card__overlay {
  position: relative;
  margin: 0; }
  .card__overlay:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -ms-border-radius: 2px 2px 0 0;
    -o-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0; }

.card__overlay-content {
  content: "";
  position: absolute;
  bottom: 0;
  padding: 1.5rem 1.5rem 0.75rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 400;
  z-index: 1; }

.card__overlay-content__title {
  color: white !important; }

.card__overlay-content__meta,
.card__overlay-content__meta-link {
  color: rgba(255, 255, 255, 0.8) !important; }

.card__content {
  padding: 0.75rem 1.5rem; }
  .card__content h5:last-child,
  .card__content p:last-child {
    margin-bottom: 0; }

.card__action {
  position: relative;
  overflow: hidden;
  padding: 0.75rem 1.5rem; }
  .card__action.card__action--border {
    border-top: 1px solid #f0f0f0; }
  .card__action .icon-circle {
    position: absolute;
    content: "";
    top: 4px;
    right: 1.5rem;
    color: #fff; }

.card--white {
  background-color: white; }

.card__meta time {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 400;
  color: #bbb;
  margin-left: 0.8rem; }

.card__article-title__link {
  text-decoration: none;
  color: #444;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease; }
  .card__article-title__link:hover {
    color: #00c176; }

.card__meta,
.avatar,
.card__author-content {
  display: inline-block;
  vertical-align: middle; }

.card__author-content a,
.card__meta a {
  color: #00c176; }
  .card__author-content a:hover, .card__author-content a:focus,
  .card__meta a:hover,
  .card__meta a:focus {
    color: #006f44; }

.avatar {
  display: inline-block;
  vertical-align: middle;
  width: 48px;
  height: 48px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  margin-right: 0.6em; }

.card__author-content {
  font-size: 1.6rem; }

/**
 *  _grid.scss
 */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row {
  width: 100%;
  max-width: 62.5em;
  margin: 0 auto; }
  .row:after {
    content: "";
    clear: both;
    display: table; }

/* Nested Rows */
.row .row {
  width: auto;
  margin-left: -0.625em;
  margin-right: -0.625em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1; }

/* Columns */
.columns {
  position: relative;
  float: none;
  width: 100%;
  padding-left: 0.625em;
  padding-right: 0.625em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media only screen {
  .columns {
    float: left; }

  .small-one {
    width: 8.33333%; }

  .small-two {
    width: 16.66667%; }

  .small-three {
    width: 25%; }

  .small-four {
    width: 33.33333%; }

  .small-five {
    width: 41.66667%; }

  .small-six {
    width: 50%; }

  .small-seven {
    width: 58.33333%; }

  .small-eight {
    width: 66.66667%; }

  .small-nine {
    width: 75%; }

  .small-ten {
    width: 83.33333%; }

  .small-eleven {
    width: 91.66667%; }

  .small-twelve {
    width: 100%; } }
/* Screen size greater than  641px */
@media only screen and (min-width: 40.063em) {
  .medium-one {
    width: 8.33333%; }

  .medium-two {
    width: 16.66667%; }

  .medium-three {
    width: 25%; }

  .medium-four {
    width: 33.33333%; }

  .medium-five {
    width: 41.66667%; }

  .medium-six {
    width: 50%; }

  .medium-seven {
    width: 58.33333%; }

  .medium-eight {
    width: 66.66667%; }

  .medium-nine {
    width: 75%; }

  .medium-ten {
    width: 83.33333%; }

  .medium-eleven {
    width: 91.66667%; }

  .medium-twelve {
    width: 100%; }

  /* Offsets */
  .medium-offset-by-one {
    margin-left: 8.33333%; }

  .medium-offset-by-two {
    margin-left: 16.66667%; }

  .medium-offset-by-three {
    margin-left: 25%; }

  .medium-offset-by-four {
    margin-left: 33.33333%; }

  .medium-offset-by-five {
    margin-left: 41.66667%; }

  .medium-offset-by-six {
    margin-left: 50%; }

  .medium-offset-by-seven {
    margin-left: 58.33333%; }

  .medium-offset-by-eight {
    margin-left: 66.66667%; }

  .medium-offset-by-nine {
    margin-left: 75%; }

  .medium-offset-by-ten {
    margin-left: 83.33333%; }

  .medium-offset-by-eleven {
    margin-left: 91.66667%; } }
/* Screen size greater than  1024px */
@media only screen and (min-width: 64.063em) {
  .large-one {
    width: 8.33333%; }

  .large-two {
    width: 16.66667%; }

  .large-three {
    width: 25%; }

  .large-four {
    width: 33.33333%; }

  .large-five {
    width: 41.66667%; }

  .large-six {
    width: 50%; }

  .large-seven {
    width: 58.33333%; }

  .large-eight {
    width: 66.66667%; }

  .large-nine {
    width: 75%; }

  .large-ten {
    width: 83.33333%; }

  .large-eleven {
    width: 91.66667%; }

  .large-twelve {
    width: 100%; }

  /* Offsets */
  .large-offset-by-one {
    margin-left: 8.33333%; }

  .large-offset-by-two {
    margin-left: 16.66667%; }

  .large-offset-by-three {
    margin-left: 25%; }

  .large-offset-by-four {
    margin-left: 33.33333%; }

  .large-offset-by-five {
    margin-left: 41.66667%; }

  .large-offset-by-six {
    margin-left: 50%; }

  .large-offset-by-seven {
    margin-left: 58.33333%; }

  .large-offset-by-eight {
    margin-left: 66.66667%; }

  .large-offset-by-nine {
    margin-left: 75%; }

  .large-offset-by-ten {
    margin-left: 83.33333%; }

  .large-offset-by-eleven {
    margin-left: 91.66667%; } }
/**
 *  _hr.scss
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #b6b6b6;
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  padding: 0; }

/**
 *  _icons.scss
 */
[class*="icon-"] {
  border: 0;
  width: 3em;
  height: 3em;
  margin-bottom: 24px;
  margin-bottom: 2.4rem;
  background-color: transparent;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  [class*="icon-"] span, [class*="icon-"] i {
    line-height: 3em;
    vertical-align: middle; }
  [class*="icon-"]:hover, [class*="icon-"]:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.icon-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }
  .icon-circle:hover, .icon-circle:focus {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }

.icon-rounded {
  border-radius: 2px; }

.icon-semi-rounded {
  border-radius: 20px; }

.icon-large {
  font-size: 150%; }

.icon-medium {
  font-size: 130%; }

.icon-huge {
  font-size: 250%; }

.icon--blue,
.icon--red,
.icon--green,
.icon--black {
  color: #fff !important; }

.icon--blue {
  background-color: #5d9cec; }

.icon--green {
  background-color: #00c176; }

.icon--red {
  background-color: #ff8a00; }

.icon--black {
  background-color: #212121; }

.icon--blue-outline,
.icon--green-outline,
.icon--red-outline,
.icon--black-outline {
  box-shadow: none; }

.icon--blue-outline {
  border-color: #5d9cec;
  color: #5d9cec; }

.icon--green-outline {
  border-color: #00c176;
  color: #00c176; }

.icon--red-outline {
  border-color: #ff8a00;
  color: #ff8a00; }

.icon--black-outline {
  border-color: #212121;
  color: #212121; }

/**
 *  _image.scss
 */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

.img__rounded {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%; }

.img__radius {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }

.img__border {
  border: 8px solid white;
  box-sizing: border-box; }

/**
 *  _ripple.scss
 */
.ripple {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0); }

.ink {
  display: block;
  position: absolute;
  pointer-events: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  background: rgba(255, 255, 255, 0.9);
  opacity: 1; }

.ink.animate {
  -webkit-animation: ripple 0.5s linear;
  -moz-animation: ripple 0.5s linear;
  -ms-animation: ripple 0.5s linear;
  -o-animation: ripple 0.5s linear;
  animation: ripple 0.5s linear; }

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5); } }

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    transform: scale(2.5); } }

@-moz-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
    transform: scale(2.5); } }

@-ms-keyframes ripple {
  100% {
    opacity: 0;
    -ms-transform: scale(2.5);
    transform: scale(2.5); } }

@-o-keyframes ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2.5);
    transform: scale(2.5); } }

/**
 *  _typography.scss
 */
html,
button,
input,
select,
textarea,
p,
ul,
ol {
  font-family: "Istok Web", sans-serif;
  color: #727272; }

body {
  text-rendering: optimizeLegibility; }

body,
button,
input {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  font-family: "Roboto", "Open Sans", "Cambria", serif;
  font-weight: 700;
  color: #212121; }

h1, .h1 {
  font-size: 50px;
  font-size: 3.125rem; }

h2, .h2 {
  font-size: 28px;
  font-size: 1.75rem; }

h3, .h3 {
  font-size: 21px;
  font-size: 1.3125rem; }

h4, .h4 {
  font-size: 16px;
  font-size: 1rem; }

h5, .h5 {
  font-size: 12px;
  font-size: 0.75rem; }

h6, .h6 {
  font-size: 9px;
  font-size: 0.5625rem; }

ul,
ol {
  padding-left: 1rem; }

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

.lead {
  font-size: 18px;
  font-size: 1.125rem; }

small,
.text-small {
  font-size: 70%; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

/* Theme */
/**
 *  _theme.scss
 */
.hero {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 1em;
  padding-right: 1em;
  display: table;
  width: 100%;
  height: 94vh;
  background-color: #00c176;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed; }
  .hero:after {
    background-color: rgba(0, 193, 118, 0.85);
    position: absolute;
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .hero .hero__content {
    position: relative;
    z-index: 2;
    display: table-cell;
    vertical-align: middle; }
    .hero .hero__content h1 {
      font-weight: 100;
      color: rgba(255, 255, 255, 0.95);
      font-size: 37px;
      font-size: 2.3125rem; }
      @media screen and (min-width: 60.063em) {
        .hero .hero__content h1 {
          font-size: 50px;
          font-size: 3.125rem; } }
    .hero .hero__content h2 {
      font-weight: 100;
      color: rgba(255, 255, 255, 0.85); }

.intro h1 {
  color: #fff; }
.intro h3 {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8); }

.icon__twitter,
.icon__email {
  color: #fff !important; }
  .icon__twitter:focus,
  .icon__email:focus {
    outline: none; }

.icon__twitter {
  background-color: #00abe3; }

.icon__email {
  background-color: #d3492c; }

.icon__twitter--outline {
  border-color: #00abe3;
  color: #00abe3 !important; }

.icon__email--outline {
  border-color: #d3492c;
  color: #d3492c !important; }

.no-bullets {
  list-style-type: none;
  padding: 0; }
  .no-bullets li {
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 0.75rem; }
    .no-bullets li:before {
      content: "";
      position: absolute;
      left: 0;
      top: 8px;
      display: block;
      width: 8px;
      height: 8px;
      text-align: center;
      background-color: #00c176;
      -webkit-box-shadow: 0 0 0 3px white, 0 0 0 4px #00c176;
      -moz-box-shadow: 0 0 0 3px white, 0 0 0 4px #00c176;
      box-shadow: 0 0 0 3px white, 0 0 0 4px #00c176;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%; }

.testimonial__card {
  position: relative; }
  .testimonial__card:after {
    content: "\f10e";
    position: absolute;
    top: 0;
    right: 12px;
    font-family: FontAwesome;
    font-size: 2rem;
    color: #eee; }

.testimonial__meta {
  margin-bottom: 0.75rem; }
  .testimonial__meta span {
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 400;
    color: #888; }

.testimonial__title {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  line-height: 1.3; }

.tweet {
  border-bottom: 1px solid #ddd;
  margin-bottom: 0.75rem; }
  .tweet:last-child {
    border-bottom: 0; }
