/*-----------------------------------------------------
	Hero
-----------------------------------------------------*/

.hero {
	background-color: $primary-color;
	padding-top: $baseline;
	padding-bottom: $baseline;
	border-top: 1px solid darken($white, 5%);
	border-bottom: 1px solid darken($white, 5%);
	// background: url(../img/bg.jpg) repeat center center;
	// -webkit-background-size: cover;
	// background-size: cover;

	position: relative;

	&:after {
		content: '';
	    display: block;
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
		background: url(../img/bg.jpg) no-repeat bottom center;
		-webkit-background-size: cover;
		background-size: cover;
		opacity: 0.2;
	}

	.row {
		position: relative;
		z-index: 2;
	}

	@include MQ(M) {
		padding-top: $baseline*8;
		padding-bottom: $baseline*8;
	}
	
	h1 {
		margin-bottom: 0.2em;
		letter-spacing: -1px;
	}
	h3 {
	    margin: 0;
	    font-weight: 400;
		font-style: italic;
	}
	h1,
	h3 {
		color: $white;
		text-align: center;
	}

	.rwd-break {
		display: block;

		@include MQ(M) {
			display: inline;
		}
	}
}