/*----------------------------------------------------- 
	Hero
-----------------------------------------------------*/

.hero {
	position: relative;
	padding-top: 3em;
	padding-bottom: 3em;
	text-align: center;
	background-color: $green;

	h1, p {
		margin: 0;
	}

	h1 {
		font-size: 2.2em;
		line-height: 1.2;
		margin-bottom: 0.325em;
		color: $white;
		@include text-shadow(4px 2px 0 darken($green, 10%));
		span {
			color: #5d9cec;
			font-family: "Lato-Light";
			font-weight: 200;
			letter-spacing: -3px;
		}
	}
	p {
		color: $white;
		letter-spacing: 1px;
	}
}

@include MQ(S) {
	.hero {
		padding: 0;
 		
 		.hero-content {
			text-align: center;
			height: 450px;
			-webkit-transform-style: preserve-3d;
		       -moz-transform-style: preserve-3d;
		            transform-style: preserve-3d;
		}
		
		.hero-description  {
			position: relative;
			top: 50%;
			-webkit-transform: translateY(-50%);
			   -moz-transform: translateY(-50%);
			    -ms-transform: translateY(-50%);
			     -o-transform: translateY(-50%);
			        transform: translateY(-50%);
		  	 
		}
		
		h1 {
			font-size: 4em;
		}
	}
}
 
 