/*----------------------------------------------------- 
	Navigation
-----------------------------------------------------*/

.nav {
	float: none;
}

.nav ul {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	width: 100%;
	z-index: 2;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: darken($green, 2%);
	border-top: 1px solid darken($green, 5%);
}

	.nav li {
		display: block;
		list-style: none;
		border-bottom: 1px solid darken($green, 5%);
	}
	.nav li a {
		display: block;
		padding: 0.825em 1em;
		text-decoration: none;
		text-transform: uppercase;
		border: 0;
		font-family: inherit;
		font-weight: 600;
		font-size: 0.875em;
		color: $white;

		-webkit-transition: all 0.35s ease-out;
		-moz-transition: all 0.35s ease-out;
		-ms-transition: all 0.35s ease-out;
		-o-transition: all 0.35s ease-out;
		transition: all 0.35s ease-out;
	}
	.nav li a:hover {
		border: 0;
		color: darken($green, 10%);
	}

/* Toggle menu */
.toggle-menu {
	width: 40px;
	height: 80px;
	display: block;
	float: right; 
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	color: #777;
	background: url(../img/hamburger-menu.svg) no-repeat center center;
	border: 0;
	font: 0/0 a;
	background-color: transparent;
	z-index: 2;
}
.toggle-menu:hover {
	border: 0;
}


@include MQ(S) {
	
	.nav {
		float: right;
		line-height: 80px;
	}
	.nav ul {
		border-top: 0;
		display: block;
		position: static;
		background-color: transparent;
	}
		.nav li {
			display: inline-block;
			border-bottom: 0;
		}
		.nav li a {
			font-weight: 600;
			 
			display: block;
			height: auto;
			line-height: normal;
		}

	/* Toggle-menu */
	.toggle-menu {
		display: none;
	}
}
