/*-----------------------------------------------------
  Nav
-----------------------------------------------------*/
.nav {
	//float: none;
	margin-top: $baseline;
	@include MQ(S) {
		//float: right;
		margin-top: 0;
	}
	.menu {
		text-align: center;
		margin: 0;
		padding: 0;
		list-style: none;
		float: none;
		@include MQ(S) {
			float: right;
		}
	 

		.menu-item {
			display: inline-block;
			text-align: center;
			margin-right: 1.2em;

			&::last-child {
				margin-right: 0em;
			}

			@include MQ(S) {
				display: inline-block;
				margin-left: 1.4em;
				margin-right: 0;
			}

			a {
				display: block;
				//padding: 0.325em 0;
				font-family: inherit;
				font-size: 1em;
				font-weight: 400;
				color: $color-text-light;
				@include transition(all 0.35s ease-out);
				@include MQ(S) { 
					font-size: 1em;
				}
				&:hover {
					color: $primary-color;
				}

				&.active {
					color: $primary-color;
					border-top: 2px solid $primary-color;
				}
			}

			.twitter {
				color: #00ACED;
				//@include box-shadow(0 0 0 2px #00ACED inset);
				// &:hover {
				// 	background-color: #00ACED;
				// 	color: #fff;
				// }
			}
		}

	}
}