/*----------------------------------------------------- 
  Helpers
-----------------------------------------------------*/

.text-left    { text-align: left;   }
.text-right   { text-align: right;  }
.text-center  { text-align: center; }
.text-justify { text-align: justify;}

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.align-left   {  @include float-left;    }
.align-right  {  @include float-right;   }

.clearfix { @include clearfix;  }

.radius { @include border-radius($radius); }

.has-padding-tb {
	padding-top: $pad;
	padding-bottom: $pad;
}
.has-padding-tb-lg {
  padding-top: $pad*2;
  padding-bottom: $pad*2;
}

.bg-gray-lightest { background-color: $gray-lightest; }
.bg-green { background-color: $green; }
