/*-----------------------------------------------------
	Theme
-----------------------------------------------------*/

body {
	// background-image: url(../img/bg2.png);
	// background-repeat: repeat repeat;
	background-color: rgba(222,222,222,0.2);
}

/* 
	Site Header
-----------------------------------------------------*/
.site-header {
	background-color: $white;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	border-bottom: 1px solid darken($white, 5%);

	.logo-link {
		float: none;
		display: block;
		text-align: left;
		font-size: 2.618em;
		font-family: $font-heading;
		font-weight: 700;
		letter-spacing: -1px;
		vertical-align: bottom;
		color: $color-text;

		&:hover {
			color: $primary-color;
		}

		@include MQ(S) {
			float: left;
			font-size: 1.618em;
		}
	}
}

/* 
	article styling 
-----------------------------------------------------*/

.posts {
	margin-bottom: $baseline;
	border-bottom: 1px dashed $color-hr;

	h2 > a {
		color: $color-heading;

		&:hover {
			color: $primary-color;
		}
	}

	.meta {
		font-family: $font-paragraph;
		font-size: 1em;
		color: $primary-color;

		span {
			color: $color-text-light;
		}
	}
}

/* 
	Service
-----------------------------------------------------*/
.service {
	.fa {
		width: 80px;
		height: 80px;
		line-height: 80px;
		margin: 1em auto;
		border: 1px solid $primary-color;
		@include border-radius(50%);
		color: $primary-color;
	}
}
 
/* 
	Contact
-----------------------------------------------------*/
.contact {
	 
	.btn-default,
	.btn-default-outline {
		display: block;
		margin-bottom: 0.4em;
		@include MQ(S) {
			display: inline;
			margin-bottom: 0;
		}
	}
}
/* 
	Lists
-----------------------------------------------------*/
.circle {
	li {
		text-indent: 2%;
		color: $primary-color;
		p {
			color: $color-text;
		}
	}
}


/* 
	Helpers
-----------------------------------------------------*/
.rwd-break {
	display: block;
	@include MQ(S) {
		display: inline;
	}
}

.multi-columns {
	-webkit-columns: 2 200px;
	   -moz-columns: 2 200px;
	        columns: 2 200px;

	-webkit-column-gap: 4em;
	   -moz-column-gap: 4em;
	        column-gap: 4em;

	-webkit-column-rule: 1px solid darken($white, 10%);
	   -moz-column-rule: 1px solid darken($white, 10%);
			column-rule: 1px solid darken($white, 10%);
}


/* 
	footer styling 
-----------------------------------------------------*/
.footer {
	background-color: #fff;
	border-top: 1px solid darken($white, 5%);
	p {
		margin: 0;
	}

	li {
		a {
			text-decoration: none;
			border-bottom: 1px solid $color-hr;

			&:hover {
				border-bottom: 1px solid $color-link-hover;
			}
		}
	}

}