/*-----------------------------------------------------
	Theme
-----------------------------------------------------*/

.site-header {
	height: 80px;
	position: relative;
	clear: both;
	// background-color: $gray-lightest;
	/*box-shadow: 0 -2px 0 #e6e9ed inset;*/

}

/* Logo */

.logo-link {
	height: auto;
	line-height: normal;
	float: left;
	margin-top: 0.625em;
	text-decoration: none;
	border: 0;
	font-family: $font-heading;
	font-size: 1.8em;
	font-weight: 700;
	color: $white;
	letter-spacing: -1px;

	&:hover {
		border: 0;
		color: lighten($white, 10%);
	}
}

/* Head title */

.head-title {
	margin-bottom: 0;
	position: relative;
	text-align: center;
	letter-spacing: 1px;
}

// .head-title:after {
// 	content: "";
// 	position: absolute;
// 	display: block;
// 	width: 100px;
// 	margin: 0 auto;
// 	height: 2px;
// 	top: 100%;
// 	left: 0;
// 	right: 0;
// 	bottom: 0;
// 	background-color: $gray-light;
// }
 
.sub-heading {
	margin-top: 0;
	margin-bottom: 1em;
	font-family: inherit;
	font-weight: 200;
	text-align: center;
	color: $gray-light;
	letter-spacing: 1px;
}


/* article styling */

.posts {
	margin-bottom: 8%;
	h2 > a {
		color: $color-heading;

		&:hover {
			color: $green;
		}
	}

	.meta {
		font-family: $font-paragraph;
		font-size: 1em;
		color: $green;

		span {
			color: $color-text-light;
		}
	}
}

/* Social */

.social {
	font-size: 2em;
	font-weight: 200;
	letter-spacing: -2px;
}
/* Social */
.social {
    .tw { color: #00ACED; }
    .fb { color: #3B5998; }
    .ln { color: #007FB1; }
    .gh { color: #4183C4; }
    .rss{ color: #FF8300; }
    .yt { color: #CD332D; }
}

.tw,
.fb,
.ln,
.gh,
.yt,
.rss { 
    @include opacity(0.75) 
}

.tw:hover, 
.fb:hover,
.ln:hover,
.gh:hover,
.yt:hover,
.rss:hover { 
    @include opacity(1); 
}

/* Sharing Buttons Style */

// div.addthis_toolbox {
// 	width: 100px;
// 	margin: 0 auto;
// }

/* Tweets */

.tweets {
	background-color: $gray-lightest;
	padding: 1em;
}

/* Footer */

.footer {
	position: relative;
	background-color: $gray-lightest;
 	text-align: center;
 	 
 	p {
 		font-size: 1em;
 		margin-bottom: 0;
 	}
}

