/**
 *  _helpers.scss
 */

// alignments 
.alignleft {
    display: inline;
    float: left;
}

.alignright {
    display: inline;
    float: right;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left { float: left; }
.right { float: right; }

// Paddings
.padding-tb-l {
    padding-top: rem(72px);
    padding-bottom: rem(72px);
}

.padding-tb {
    padding-top: rem(24px);
    padding-bottom: rem(24px);
}

// Margins
.margin-b {
    margin-bottom: rem(24px);
}
.margin-b-s {
    margin-bottom: rem(12px);
}
.margin-r-s {
    margin-right: rem(12px);
}

// Text
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-uppercase { text-transform: uppercase; }
.text-italic { font-style: italic; }

// Text Colors
.text-light { color: $color__gray--dark; }
.text-white { color: #fff; }

// Displays
.inline { display: inline; }
.inline__block { display: inline-block; }

.inline__block--center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// radius
.radius { @include border-radius($global__radius); }
.radius-t-rl {
    @include border-radius($global__radius $global__radius 0 0);
}


// Background Colors
.bg__blue {
	background-color: $color__blue;
	color: #fff;
}

.bg__green { background-color: $color__green; }
.bg__green--light { background-color: $color__green--light; }
.bg__white { background-color: $color__white; }
.bg__orange { background-color: $color__orange; }

// Shadows
.shadowDepth0 {
    @include box-shadow(0 1px 3px rgba(0,0,0, 0.12));
}

.shadowDepth1 {
    @include box-shadow(0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24));
}

.shadowDepth2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

// clearfix
.cf:before,
.cf:after {
    content: " ";  
    display: table; 
}

.cf:after {
    clear: both;
}

