.site__wrapper {
	// margin-left: auto;
	// margin-right: auto;
}

.row {	
	@include container;
	padding-left: 0.875rem;
	padding-right: 0.875rem;
	overflow: hidden;
}

// icon 
.icon {
	display: block;
	border: 2px solid #eee;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
	height: 4.5em;
	line-height: 4.5em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
	width: 4.5em;

	.svg-icon {
		margin-top: 0.9em;
	}
}

// List Table
.list__table {
	position: relative;
	list-style-type: none;
	margin: 0;
	 
	// &:before {
	// 	content: "";
	// 	display: block;
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 85%;
	// 	top: 22px;
	// 	left: 0.35em;
	// 	border-left: 1px solid #ccc;
	// 	z-index: 1;
	// }

	li {
		//border-bottom: 1px dashed #ddd;	
		display: block;
		margin-bottom: 1.5em;
		overflow: hidden;
		// padding-top: 1rem;
		// padding-bottom: 1rem;
		position: relative;

		span {
			display: block;
			line-height: 1.5;
			margin-left: 1.5em;
		}
		 
		&:after {
			content: "";
			background-color: $green;
			-webkit-border-radius: 50%;
			   -moz-border-radius: 50%;
			        border-radius: 50%;
			display: block;
			height: 8px;
			left: 0;
			position: absolute;
			top: 8px;
			width: 8px;
			z-index: 3;
		}
	}
}

// cta
.cta {
	position: relative;
}

// Site Content
.site__content {
	margin-top: 64px;
	min-height: 100vh;
}

figure {
	figcaption {
		display: block;
		font-style: italic;
	}
}

// blockquotes
blockquote {
	clear: both;
	color: $green;
} 

// Blog Post
.post__wrapper {
	display: block;
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;
	white-space: wrap;

	a {
		text-decoration: none;
		border-bottom: .0625em solid lighten($green, 14%);
		box-shadow: 0 -.20em 0 lighten($green, 14%) inset;
	}
	 
	figure {
		&.figure__left,
		&.figure__right {
			float: none;
		}

		@media screen and (min-width: 40.063em) {

			&.figure__left {
				float: left;
				margin-left: -8em;
				margin-right: 1.5em;		 
			}

			&.figure__right {
				float: right;
				margin-right: -8em;
				margin-left: 1.5em;		 
			}
		}
	}
}

.post__title {
	text-align: center;
}

.post__meta {
	font-size: 0.9rem;
	font-variant: small-caps;
	//font-style: italic;

	li:not(:last-child):after {
		content: "\25cf";
		font-style: normal;
		position: relative;
		color: #ddd;
		right: -0.6em;
	}
}

.card {
	background-color: white;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	-webkit-box-shadow: 0 1px 3px rgba(black, 0.12);
	   -moz-box-shadow: 0 1px 3px rgba(black, 0.12);
			box-shadow: 0 1px 3px rgba(black, 0.12);
	margin-bottom: 1.5rem;

	p:last-child {
		margin-bottom: 0;
	}

	@media screen and (min-width: 40.063em) {
		@include gallery(4 of 12);
	}

	.h3 {
		word-wrap: break-word;
	    -webkit-hyphens: auto;
	       -moz-hyphens: auto;
	          	hyphens: auto;  
	}
}

.card__content {
	padding: 1.5rem;

	a {
		text-decoration: none;

		&:hover {
			color: $green;
		}
	}
}

.card__action {
	border-top: 1px solid #eee;
	padding: 0.75em 1.5em;
	
	> a {
		display: block;
		font-variant: small-caps;
		text-decoration: none;
	}

	span {
		float: right;
	}
}