// Helpers
.padding-tb-md {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.padding-tb-lg {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.padding-tb-xlg {
	padding-top: 4.5rem;
	padding-bottom: 4.5rem;
}

.margin-b-0 { margin-bottom: 0 !important; }
.margin-b-md { margin-bottom: 1.5rem !important; }
.margin-b-lg { margin-bottom: 3rem !important; }
.margin-r-md { margin-right: 1.5rem !important; }

.vh60 { height: 60vh; }
.vh80 { height: 80vh; }

.vertical--center {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.display--inline-block { display: inline; }
.display--block {display: block; }

.float--left { float: left; }
.float--right { float: right; }

.text--right { text-align: right; }
.text--left { text-align: left; }
.text--center { text-align: center; }

.text--light { font-weight: 300; }
.text--bold { font-weight: 700; }

.text--muted { color: #9E9E9E; }

.text--uppercase { text-transform: uppercase; }

.lts-sm { letter-spacing: 0.04em; }
.lts-md { letter-spacing: 0.06em; }

.bg--white { background-color: white; }
