html {
  font-size: 100%;
}

body {
  background-color: $gray;
  color: $body-font-color;
  font-size: 1em;
  font-family: $body-font-family;
  font-weight: $font-weight-normal;
  line-height: 1.5;
}

ul, ol {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: $green;
  text-decoration: none;

  -webkit-transition: all .25s ease-in;
     -moz-transition: all .25s ease-in;
      -ms-transition: all .25s ease-in;
       -o-transition: all .25s ease-in;
          transition: all .25s ease-in;

  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5 {
  color: $header-font-color;
  display: block;
  font-family: $header-font-family;
  font-weight: 700;
  line-height: 1.2;
	margin-top: 0;
	margin-bottom: 1.5rem;
  
}

ol,
ul,
p,
img,
figure {
  margin: 0;
  margin-bottom: 1.5rem;
}

ol,
ul,
p, {
  font-size: 1rem;
  line-height: 1.5;

  @media screen and (min-width: 40.063em) {
    font-size: 1.12rem;
  }
}

p {
  word-wrap: break-word;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;  
}

.lead {
  font-size: 1.5em;
}

h1 {
  font-size: 2.25em;

  @media screen and(min-width: 40.063em) {
    font-size: 3.375em;
  }
}
h2 {
  font-size: 2.25em;
}
h3,
.h3 {
  font-size: 1.5em;
}
h4,
h5 {
  font-size: 1em;
}

h6,
.h6,
.text--small,
small {
  font-weight: 400;
  font-size: 0.667em
}
