$gray: #f8f8f8;
$black: #727272;
$green: rgb(102,204,51);

$body-font-family: "Quattrocento Sans";
$header-font-family: "Poppins";

$body-font-color: #666;
$header-font-color: #333;

$font-weight-normal: 400;
