// About
.about__content-skill {
	@media screen and (min-width: 40.063em) {
		@include span(6);

		&:nth-child(2) {
			@include span(6 last);
		}
	}
}

.about__content-skill-wrapper {
	display: block;
	overflow: hidden;

	@media screen and (min-width: 40.063em) {
		max-width: 720px;
		margin-left: auto;
		margin-right: auto;
	}
}

.about__content {

	@media screen and (min-width: 40.063em) {
		max-width: 640px;
		margin-left: auto;
		margin-right: auto;
	}
}
