// footer
.footer__content {
	text-align: center;

	@media screen and (min-width: 40.063em) {
		@include span(6);
		text-align: left;

		&:nth-child(2) {
			text-align: right;
			@include span(6 last);
		}
	}

	.fa-heart {
		color: #FF6F00;
	}
}