
// hero
.hero {
	height: 100vh;
	margin-top: 60px;
	position: relative;
	//border-bottom: 1px solid #eee;
	overflow: hidden;
	background-color: #f8f8f8;
	background-image: url(../img/hero-bg.jpg);
	-webkit-background-size: cover;
			background-size: cover;
	background-attachment: fixed;

	@media screen and (min-width: 40.063em) {
		height: 80vh;
	} 
}

.hero__content {
	// padding: 3rem 1rem;
 
	h1 {

		span {
			display: block;
			// text-shadow: 2px 3px #f8f8f8, 3px 4px $green;
  	// 		letter-spacing: 0.04em;

			// @media screen and (min-width: 40.063em) {
			// 	display: block;
			// }
			
		}
	}
}
