/*-----------------------------------------------------
	Dividers
-----------------------------------------------------*/
hr {
	display: block;
	height: 1px;
	margin: $baseline 0;

	border: none;

	background-color: $color-hr;
}
 