/* Skills */
@mixin skill( $bgcolor1: transparent, $bgcolor2: white, $color1: #555, $color2: #555 ) {
	position: relative;
	max-width: 100%;
	overflow: hidden;
	margin-bottom: 1em;
	top: 0;
	@include transition(top 0.35s ease-out);
	background-color: $bgcolor1;


	.skill-level {
		width: 80px;
		height: 80px;
		margin: 0 auto;
		margin-bottom: 0.325em;
		line-height: 80px;
		text-align: center;
		font-size: 1.2em;
		@include border-radius(40px);
		background-color: $bgcolor2;
		border: 2px solid darken($bgcolor2, 8%);
		color: $color1;
	}

	h4 {
		font-family: inherit;
		text-align: center;
		color: $color2;
	}
}

.skill-blue {
	@include skill($bgcolor1: transparent, $bgcolor2: #4fc1e9, $color1: #fff, $color2: #4fc1e9);
}

.skill-purple {
	@include skill($bgcolor1: transparent, $bgcolor2: #967adc, $color1: #fff, $color2: #967adc);
}

.skill-orange {
	@include skill($bgcolor1: transparent, $bgcolor2: #fc6e51, $color1: #fff, $color2: #fc6e51);
}

.skill-yellow {
	@include skill($bgcolor1: transparent, $bgcolor2: #ffce54, $color1: #fff, $color2: #ffce54);
}

.skill-pink {
	@include skill($bgcolor1: transparent, $bgcolor2: #d770ad, $color1: #fff, $color2: #d770ad);
}

.skill-green {
	@include skill($bgcolor1: transparent, $bgcolor2: #2ecc71, $color1: #fff, $color2: #2ecc71);
}