/*----------------------------------------------------- 
  Typography
-----------------------------------------------------*/

html,
button,
input,
select,
textarea {
    color: $color-text;
}
body,
button,
input {
	-webkit-font-smoothing: antialiased;
}

html, body {
	height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

/* Selection */
::-webkit-selection {
    background: $color-highlight;
    text-shadow: none;
}

::-moz-selection {
    background: $color-highlight;
    text-shadow: none;
}

::selection {
    background: $color-highlight;
    text-shadow: none;
}

html {
	font-size: 75%;

	@include MQ(S) {
		font-size: 90%;
	}

	@include MQ(M) {
		font-size: 100%;
	}
}

body {
	color: $color-text;
	font-size: $base-font-size;
	font-family: $font-paragraph;
	font-weight: 400;
	line-height: $baseline;
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	    -ms-hyphens: auto;
			hyphens: auto;
	word-wrap: break-word;
}

p {
	margin-top: 0;
	margin-bottom: $baseline;
	font-family: $font-paragraph;
	line-height: $baseline;

	a {
		text-decoration: none;
		border-bottom: 1px solid $color-hr;

		&:hover {
			border-bottom: 1px solid $color-link-hover;
		}
	}
}

a {
	color: $color-link;
	text-decoration: none;
	@include transition($trans);

	&:hover {
		color: $color-link-hover;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $color-heading;
	font-family: $font-heading;
	font-weight: 700;
	line-height: 1.2;
	margin: 0;
	margin-bottom: 0.67em;
}

h1 { 
	font-size: 2.618em; 
	@include MQ(S) {
		font-size: 4.236em; 
	}
}
h2 { 
	font-size: 1.618em;
	@include MQ(S) {
		font-size: 2.618em; 
	}
}
h3 {
	font-size: 1.618em;
}
h4 {
	font-size: 0.618em;
}


.lead {
	font-size: 1.618em;
	line-height: $baseline;
}

blockquote {
	margin: 0;
	font-style: italic;

	cite {
		font-size: .75rem;
		font-style: normal;

		&:before {
			content: "- ";
		}
	}
}

