/*----------------------------------------------------- 
  Typography
-----------------------------------------------------*/

html,
button,
input,
select,
textarea {
    color: $color-text;
}
body,
button,
input {
	-webkit-font-smoothing: antialiased;
}

html, body {
	height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

/* Selection */
::-webkit-selection {
    background: $color-highlight;
    text-shadow: none;
}

::-moz-selection {
    background: $color-highlight;
    text-shadow: none;
}

::selection {
    background: $color-highlight;
    text-shadow: none;
}

html {
	font-size: 100%;
}
body {
	color: $color-text;
	font-size: 1em;
	font-family: $font-paragraph;
}

p {
	margin-bottom: 1em;
	line-height: 1.8;
	font-size: 1em;
	font-family: $font-paragraph;

	@include MQ(M) {
		font-size: 1.25em;
	}
	
	a {
		text-decoration: none;
		border-bottom: 1px solid $gray-lightest;

		&:hover {
			border-bottom: 1px solid $color-link-hover;
		}
	}
}

a {
	color: $color-link;
	text-decoration: none;
	@include transition($trans);

	&:hover {
		color: $color-link-hover;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $color-heading;
	font-family: $font-heading;
	font-weight: 700;
	letter-spacing: 1px;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.67em;
    margin: 2.33em 0;
}

blockquote {
	margin: 0;
	@include box-shadow(0 0 2px #ddd);
	color: $color-text-light;
	font-size: 1.3rem;
	white-space: spacewrap;

	&:before {
		content: "\201C";
		display: inline-block;
		padding-right: .4em;
		font-family: $font-heading;
	}

	cite {
		display: block;
		font-size: 0.85rem;
		font-style: normal;
		color: $color-text-lightest;
		margin-top: 0.825em;
		letter-spacing: 1px;

		&:before {
			content: "- ";
		}
	}
}

.lead {
	font-size: 1.3rem;
}

.dropcap:first-letter {
    letter-spacing: 0;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 3.5rem;
    @include float-left;
    margin: 0.13em 0.1em 0 0;
    line-height: 0.7;
    color: $color-text;
}

.intro:first-line {
	text-transform: uppercase;
	letter-spacing: 2px;
}
