/**
 *  _blockquote.scss
 */
blockquote {
	//background-color: lighten($success-color, 12%);
	position: relative;
	font-family: $body__font-family;
	font-weight: 400;
	font-size: 20px;
	font-size: 2.0rem;
	//font-style: italic;
	color: $color__green;
	background-color: transparent;
	outline: none;

	&:before {
		content: "\e67f";
		position: relative;
		//top: 50%;
			//@include transform(translateY(-50%));
		//left: 5%;
		font-family: 'themify';
		display: inline-block;
		width: 30px;
		height: 30px;
		margin-right: 1%;
		line-height: 30px;
		text-align: center;

		color: #fff;
		background-color: $color__green;
		//font-style: normal;

		@include border-radius(50%);
	}
}
