/**
 *  _button.scss
 */

// Button Mixins 
@mixin btn-theme($btn-color, $color) {
  background-color: $btn-color;
  border-color: $btn-color;
  color: $color;

  &:hover {
    background-color: darken($btn-color, 8%);
    color: $color;
    border-color: darken($btn-color, 8%);
  }
  
  &:active {
    background-color: darken($btn-color, 12%); 
    color: $color;
    border-color: darken($btn-color, 12%); 
  }
}

@mixin btn-outline($btn-color, $color) { 
  //@include box-shadow(0 0 0 1px $btn-color inset);
  border-color: $btn-color;
  color: $btn-color;
  background: transparent;
  &:hover {
    background-color: $btn-color;
    color: $color;
    border-color: $btn-color;
  }
  &:active {
    background-color: darken($btn-color, 12%); 
    color: $color;
    border-color: darken($btn-color, 12%); 
  }
}

@mixin btn-theme-3d($btn-color, $color) {
  border-color: $btn-color;
  background-color: $btn-color;
  color: $color;
  @include box-shadow(0 3px 0 darken($btn-color, 8%));
  @include transition(none);

  &:hover {
    color: $color;
    border-color: darken($btn-color, 5%); 
    background-color: darken($btn-color, 5%); 
    @include box-shadow(0 3px 0 darken($btn-color, 12%));
  }

  &:active {
    position: relative;
    color: $color;
    border-color: darken($btn-color, 5%); 
    @include box-shadow(0 1px 0 darken($btn-color, 12%));
    top: 2px;
    
  }
}

.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  margin: 0;
  margin-bottom: $baseline;
  outline: none; 
  //height: 36px;
 // line-height: 36px;
  //width: 88px;
  //padding: 0.70em 2.4em;
  //padding: 0 30px;
  padding: 0.75rem 1.5rem;
  border: 1px solid #777;
  box-sizing: border-box;
  
  font-family: $body__font-family;
  @include font-size(14px);
  font-weight: $font-weight--normal;
  @include transition($global__trans); 
  @include border-radius($global__radius);
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  color: #555;
 // letter-spacing: .1rem;
  
  cursor: pointer;
  //white-space: nowrap;
   
  &:hover {
    border-color: #444;
  }

  &:focus {
    outline: none;
  }
}

// Normal Buttons 
.btn__success {
  @include btn-theme($btn__success, #fff);
}

.btn__alert {
  @include btn-theme($btn__alert, #fff);
}

.btn__info {
  @include btn-theme($btn__info, #fff);
}

// Ghost Buttons 
.btn__success--outline {
  @include btn-outline($btn__success, #fff);
}

.btn__alert--outline {
  @include btn-outline($btn__alert, #fff);
}

.btn__info--outline {
  @include btn-outline($btn__info, #fff);
}

.btn__white--outline {
  @include btn-outline($btn__white, $color__blue);
}


// Button 3D 
.btn__success-3d {
  @include btn-theme-3d($btn__success, #fff);
}
 
// Button Sizes 
.btn--small   { 
  @include font-size(12px);
}
.btn--medium  {   
  @include font-size(14px);
}
.btn--large  { 
  @include font-size(20px);
}

// Button transparent 
.btn__transparent {
  background-color: transparent;
  border: 0;
  color: $color__green;

  &:hover,
  &:focus {
    color: $color__green;
    background-color: transparent;
  }
}

// Button Block  
.btn--full { width: 100%; }

// Button Pill 
.btn--pill { @include border-radius($global__rounded); }


