/**
 *  _grid.scss
 */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.row { 
    width: 100%; 
    max-width: 62.5em; 
    margin: 0 auto;

    &:after {
      content: "";
      clear: both;
      display: table;
    }
}

/* Nested Rows */
.row .row { 
    width: auto;
    margin-left: -0.625em;
    margin-right: -0.625em;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    *zoom: 1;
}
 

/* Columns */
.columns { 
    position: relative; 
    float: none;
    width: 100%;
    padding-left: 0.625em; 
    padding-right: 0.625em;
    
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
 
@media only screen {

    .columns {
        float: left; 
    }

    .small-one          { width: 8.33333%;  }
    .small-two          { width: 16.66667%; }
    .small-three        { width: 25%;       }
    .small-four         { width: 33.33333%; }
    .small-five         { width: 41.66667%; }
    .small-six          { width: 50%;       }
    .small-seven        { width: 58.33333%; }
    .small-eight        { width: 66.66667%; }
    .small-nine         { width: 75%;       }
    .small-ten          { width: 83.33333%; }
    .small-eleven       { width: 91.66667%; }
    .small-twelve       { width: 100%;      }
}

/* Screen size greater than  641px */
@media only screen and (min-width: 40.063em) {

    .medium-one         { width: 8.33333%;  }
    .medium-two         { width: 16.66667%; }
    .medium-three       { width: 25%;       }
    .medium-four        { width: 33.33333%; }
    .medium-five        { width: 41.66667%; }
    .medium-six         { width: 50%;       }
    .medium-seven       { width: 58.33333%; }
    .medium-eight       { width: 66.66667%; }
    .medium-nine        { width: 75%;       }
    .medium-ten         { width: 83.33333%; }
    .medium-eleven      { width: 91.66667%; }
    .medium-twelve      { width: 100%;      }

    /* Offsets */
    .medium-offset-by-one     { margin-left: 8.33333%;  }
    .medium-offset-by-two     { margin-left: 16.66667%; }
    .medium-offset-by-three   { margin-left: 25%;       }
    .medium-offset-by-four    { margin-left: 33.33333%; }
    .medium-offset-by-five    { margin-left: 41.66667%; }
    .medium-offset-by-six     { margin-left: 50%;       }
    .medium-offset-by-seven   { margin-left: 58.33333%; }
    .medium-offset-by-eight   { margin-left: 66.66667%; }
    .medium-offset-by-nine    { margin-left: 75%;       }
    .medium-offset-by-ten     { margin-left: 83.33333%; }
    .medium-offset-by-eleven  { margin-left: 91.66667%; }
}

/* Screen size greater than  1024px */
@media only screen and (min-width: 64.063em) {
    
    .large-one          { width: 8.33333%;  }
    .large-two          { width: 16.66667%; }
    .large-three        { width: 25%;       }
    .large-four         { width: 33.33333%; }
    .large-five         { width: 41.66667%; }
    .large-six          { width: 50%;       }
    .large-seven        { width: 58.33333%; }
    .large-eight        { width: 66.66667%; }
    .large-nine         { width: 75%;       }
    .large-ten          { width: 83.33333%; }
    .large-eleven       { width: 91.66667%; }
    .large-twelve       { width: 100%;      }

    /* Offsets */
    .large-offset-by-one     { margin-left: 8.33333%;  }
    .large-offset-by-two     { margin-left: 16.66667%; }
    .large-offset-by-three   { margin-left: 25%;       }
    .large-offset-by-four    { margin-left: 33.33333%; }
    .large-offset-by-five    { margin-left: 41.66667%; }
    .large-offset-by-six     { margin-left: 50%;       }
    .large-offset-by-seven   { margin-left: 58.33333%; }
    .large-offset-by-eight   { margin-left: 66.66667%; }
    .large-offset-by-nine    { margin-left: 75%;       }
    .large-offset-by-ten     { margin-left: 83.33333%; }
    .large-offset-by-eleven  { margin-left: 91.66667%; }
}