// SVG Icons
.svg-icon {
  width: 2.4em;
  height: 2.4em;
}

.svg-icon--medium {
	width: 4.5em;
	height: 4.5em;
}
.svg-icon--large {
	width: 6em;
	height: 6em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: $green;
}

.svg-icon circle {
  stroke: $green;
  stroke-width: 1;
}