/**
 *  _typography.scss
 */
html,
button,
input,
select,
textarea,
p,
ul,
ol {
  font-family: $body__font-family;
  color: $body__text-color;
}

body {
  text-rendering: optimizeLegibility;
}

body,
button,
input {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 { 
  margin-top: 0;
  margin-bottom: rem(24px);
  line-height: 1.2;
  font-family: $head__font-family;
  font-weight: $font-weight--bold;
  color: $head__text-color;
}

//h1, .h1 { @include font-size(67px); }
h1, .h1 { @include font-size(50px); }
h2, .h2 { @include font-size(28px); }
h3, .h3 { @include font-size(21px); }
h4, .h4 { @include font-size(16px); }
h5, .h5 { @include font-size(12px); }
h6, .h6 { @include font-size(9px);  }

ul,
ol {
  padding-left: rem(16px);

  li {
    //text-indent: rem(10px);
  }
}

p { 
  // @include font-size(16px); 
  margin-top: 0;
  margin-bottom: rem(24px);

  -ms-word-break: break-all;
      word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;      

}

.lead { @include font-size(18px); }

small, 
.text-small { font-size: 70%; }

strong { font-weight: bold;    }
em     { font-style: italic;   }
